/* 
colors
배경색 : #566A88
강조글자 : #F4B183

 */

/* div {
    background-color: rgba(223, 220, 220, 0.1);
} */

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 인쇄 설정 */
@page {size: A4 landscape; margin: 0;}

@media print {

    body {
        padding: 0;
        margin: 0;
    }

    #contents {
        padding: 0;
    }

    .page {
        width: calc(297mm - 10rem) !important;
        height: calc(210mm - 10rem) !important;
        min-width: initial !important;
        min-height: initial !important;
        /* padding: 10mm !important; */

        background-color: white !important;

        page-break-after: always;
    }

    .no_print {
        display: none !important;
    }
}

/* 데스크탑 */
@media(min-width: 768.1px) {
    /* 가로 768px 초과시 1rem == 10px  */
html { 
    font-size: 1vh; 
}

#contents{
    background-color: white;
    padding: 0 calc((100vw - (100vh * 1.414))/2 ); 
    min-width: calc(100vh * 1.39);
}

}

/* 모바일 & 태블릿 */
@media (max-width: 768px)  {
/* 가로 768px 이하 1rem == 8.75px  */
html { font-size: 35%; }

body {
    min-width: 370px;
}

.mobile_vertical {
    flex-direction: column !important;
}

#contents {
    width: 100vw;
}


/* 모바일에서 사라질 아이템 */
.desk_only {display: none !important;}

}

/* 기본 요소 설정 */
body {
    padding: 0;
    margin: 0;
    min-width: 370px;
    
    font-family: 'S-CoreDream-5Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;

    color: black;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

/* 링크 */
a {color: black;/* text-decoration: none; */}
a:visited {color: black;}

p {margin: 0.5rem 0;}

hr.hr1 {
    width: 15rem;
    margin: 0;
}

.section_title {
    font-size: 2rem;
    color: #ff771c;
}

span.highlight{
    background-color: rgba(255, 254, 215, 0.925);
    color: black;
    padding: 0.1rem 0.2rem;
}

a.button {
    color: black;
    background-color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none; 
}

a.github {
    color: white;
    background-color: black;
    padding: 0.8rem 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none; 
}

#contents > .page {
    /* width: 100vw; */
    height: calc(100vh - 10rem);
    width: calc(100% - 10rem);
    background-color: #e3e3e3;
    
}

#contents img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

/* 네비게이션 바 */
#nav {
    position: fixed;
    top: 0;
    right: 1rem;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
}

#nav ul {
    list-style-type: none;
    text-align: right;
}

#nav li {
    color: rgb(63, 63, 63);
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
}

#nav li.focused {
    color: #ff771c;
    /* font-weight: bold; */
}

#nav li:hover {
    color: #000;
    font-size: 3rem;
}

.hidden {
    display: none !important;
}


.page {
    padding:5rem;
}


/* 세로 플렉스 */
.vertical_box{display: flex;flex-direction: column;height: 100%;}

/* 가로 플렉스 */
.horizontal_box{display: flex;flex-direction: row;}

/* 패딩 박스 */
.padding_box{padding: 2rem; width: calc(100% - 4rem); height: calc(100% - 4rem);}

/* justify-content */
.jc_between{justify-content: space-between;}
.jc_center{justify-content: center;}
.jc_around{justify-content: space-around;}

/* 플렉스 아이템 */
.item_5{flex-basis: 5%;}
.item_10{flex-basis: 10%;}
.item_20{flex-basis: 20%;}
.item_30{flex-basis: 30%;}
.item_40{flex-basis: 40%;}
.item_50{flex-basis: 50%;}
.item_60{flex-basis: 60%;}
.item_70{flex-basis: 70%;}
.item_80{flex-basis: 80%;}
.item_90{flex-basis: 90%;}
.item_auto{flex:1 1 0;}


.flex{display: flex; width: 100%; height: 100%;}
.ma_center{justify-content: center;}
.ca_center{align-items: center;}
.center{margin:auto;}

/* 폰트 사이즈 */
.font_base{font-size: 1.6rem;}
.font_lg{font-size: 2rem;}
.font_xl{font-size: 3rem;}
.font_2xl{font-size: 4rem;}
.font_3xl{font-size: 5rem;}

/* 형광펜 컬러 */
.hl_1{background-color: #ffffbb;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}
.hl_2{background-color: #d9ffd8;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}
.hl_3{background-color: #d6fffe;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}
.hl_4{background-color: #ffe9e0;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}
.hl_5{background-color: #eae0ff;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}
.hl_6{background-color: #ffe6ff;color: #000;padding: 0.4rem 0.4rem;border-radius: 0.4rem;}


/* 포트폴리오 레이아웃 */

/* 스킬 레이아웃 */


/* 표지 테두리 */
.cover_border{position: relative;width: max-content;}
.cover_border span:nth-child(1) {position: absolute; left: 0; top: 0; width: 0.5rem;height:100%;background-color: #ff771c; }
.cover_border span:nth-child(2) {position: absolute; left: 0; top: 0; width: 10%;height:0.5rem;background-color: #ff771c; }
.cover_border span:nth-child(3) {position: absolute; left: 0; bottom: 0; width: 5%;height:0.5rem;background-color: #ff771c; }
.cover_border span:nth-child(4) {position: absolute; right: 0; top: 0; width: 0.5rem;height:100%;background-color: #ff771c; }
.cover_border span:nth-child(5) {position: absolute; right: 0; top: 0; width: 5%;height:0.5rem;background-color: #ff771c; }
.cover_border span:nth-child(6) {position: absolute; right: 0; bottom: 0; width: 10%;height:0.5rem;background-color: #ff771c; }

/* 사진목록 */
.photo_list {display: flex; justify-content: center; flex-wrap: nowrap; max-height: 20%;}
.photo_list img {box-shadow: 0 0 0 0.5rem #00000049;margin:0 2rem;}



/* 최상위 이동 버튼 */
#top_button_holder {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    cursor: pointer;
}
#top_button_holder img {width: 4rem; height: 4rem;}


/* table */
th,td {
    padding: 1rem 2rem;
    text-align: center;
}

th,td img {
    display: inline !important;
}

/*  */
#contents ul {
    /* list-style:none; */
    padding-left: 20px;
}
/* #contents li::before {
    content: "- ";
} */

/* 박스 섀도우 */
.shadow{
    box-shadow:0 0.5rem 0.8rem rgba(0,0,0,0.16), 0 0.5rem 0.8rem rgba(0,0,0,0.23);
}