/* 
colors
배경색 : #566A88
강조글자 : #F4B183


 */

@page {
size: A4 landscape;
margin: 0;
}

@media print {

    body {
        padding: 0;
        margin: 15mm;
    }

    .slide {
        width: 100% !important;
        height: 210mm !important;
        min-width: initial !important;
        min-height: initial !important;
        margin: 0;
        padding: 0;

        /* border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        background: initial; */
        page-break-after: always;
    }

    .no_print {
        display: none !important;
    }
}

@media (min-width: 768.1px) {
    /* 가로 768px 초과시 1rem == 10px  */
html { font-size: 62.5%; }
.grid_container {
    padding: 5rem 10rem;
    grid-template-columns: 20rem 20rem repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: 3rem 1fr;
    gap: 1rem;
}
#contents {
    min-width: 1400px;
}

}
@media (max-width: 768px)  {
/* 가로 768px 이하 1rem == 8.75px  */
html { font-size: 54.6875%; }
.grid_container{
    padding: 5rem;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: 3rem 1fr;
    gap: 1rem;
}

.grid_left {
    background-color: rgba(209, 209, 209, 0.1);
}

.grid_right {
    display: none !important;
}
}

/* 기본 요소 설정 */
body {
    padding: 0;
    margin: 0;
    min-width: 370px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;

    color: white;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

a {
    color: white;
    /* text-decoration: none; */
}

a:visited {
    color: white;
}

p {
    margin: 1rem 0;
}

hr.hr1 {
    width: 15rem;
    margin: 0;
}

p.section_title {
    font-size: 2rem;
    color: #F4B183;
}

span.highlight{
    background-color: rgba(252, 251, 186, 0.9);
    color: #e94629;
    padding: 0.1rem 0.2rem;
}

a.button {
    color: black;
    background-color: rgb(255, 251, 8);
    padding: 0.8rem 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none; 
}

a.github {
    color: white;
    background-color: black;
    padding: 0.8rem 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none; 
}


#contents > .slide {
    /* width: 100vw; */
    height: 100vh;
    background-color: #566A88;
    
}

/* 그리드 컨테이너 */
.grid_container{
    /* width: calc(100% - 10rem); */
    height: calc(100% - 10rem);
    margin: 0;

    display: grid;
}

.grid_container > div {
    /* background-color: rgba(209, 209, 209, 0.041);  */
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.grid_container > .grid_cover {
    grid-column-start:1; 
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_container > .grid_title {
    grid-column-start:1; 
    grid-column-end: 3;

    font-size: 2.5rem;
    align-items: start;

}

.grid_container > .grid_left {
    grid-column-start:1; 
    grid-column-end: 3;
    grid-row-start: 2; 
    grid-row-end: 3;

    /* background-color: rgba(209, 209, 209, 0.1);
    box-shadow: 0 0 2px 1px rgb(63, 63, 63); */
}

.grid_container > .grid_right {
    grid-column-start: 3; 
    grid-column-end: 6;
    grid-row-start: 2; 
    grid-row-end: 3;

    overflow: hidden;
}

.grid_container > .grid_full {
    grid-column-start:1; 
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid_left > div {
    margin: 1rem 3rem; 
    width: calc(100% - 6rem);
}
.grid_right > div {
    margin: 1rem 3rem; 
    width: calc(100% - 6rem);
}

.grid_container table {
    margin: 1rem 0;
    text-align: center;
}
.grid_container tr {
    margin: 0.5rem 0;
}
.grid_container td {
    margin: 0 2rem;
    min-width: 10rem;
}

.grid_container ul {
    padding-inline-start: 2rem;
}

/* 네비게이션 바 */
#nav {
    position: fixed;
    top: 0;
    right: 1rem;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
}

#nav ul {
    list-style-type: none;
    text-align: right;
}

#nav li {
    color: rgb(63, 63, 63);
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

#nav li.focused {
    color: white;
    /* font-weight: bold; */
}

#nav li:hover {
    color: #000;
    font-size: 2rem;
}

/* 최상위 이동 버튼 */
#top_button_holder {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
}

.hidden {
    display: none !important;
}